@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.cart {
  background-color: #f5f6f7;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", arial, sans-serif;
  align-items: center;

  &__title {
    font-size: 3em;
  }

  &__product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: white;
    width: 60vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 13px -2px,
      rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
    transition: 0.5s;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 13px -2px,
        rgba(0, 0, 0, 0.3) 0px 4px 13px -4px;
    }
  }
  &__img {
    max-height: 150px;
    max-width: 150px;
    width: 25%;
  }

  &__center {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  &__delete_item {
    border: none;
    background: none;
    width: 4em;
    height: 1.5em;
    font-style: italic;
  }

  &__product_name {
    text-align: center;
  }

  &__quantity_price {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__add {
    display: flex;
    flex-direction: row;

    input {
      width: 30%;
      text-align: center;
    }
  }

  &__total_price {
    font-size: 2em;
    color: darkblue;
  }
}
