@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.pack {
  width: 60vw;
  height: 40vh;
  background-color: #dfdfdf;
  border-radius: 4px;
  color: #0c193a;
  margin-bottom: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 13px -2px,
    rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
  transition: 0.5s;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 13px -2px,
      rgba(0, 0, 0, 0.3) 0px 4px 13px -4px;
  }
  &__container {
    height: 77%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    &__img {
      vertical-align: baseline;
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
  }

  &__desc {
    height: 20%;
    font-family: "Open Sans", arial, sans-serif;
    &__title {
      padding-left: 10px;
      font-weight: 600;
      font-size: 17px;
    }
    &__price {
      padding-left: 10px;
      font-weight: 900;
      font-size: 17px;
    }
  }
}
